[Desktop Entry]
Name=Fallout SDDM
Comment=Thème Fallout (Pip-Boy style) pour SDDM
Type=Service
X-KDE-PluginInfo-Author=PapaOursPolaire
X-KDE-PluginInfo-Email=papaoursgamer@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
