[Desktop Entry]
Name=Fallout Wallpaper
X-KDE-PluginInfo-Name=fallout
X-KDE-PluginInfo-Author=PapaOursPolaire
X-KDE-PluginInfo-Email=papaoursgamer@gmail.com
X-KDE-PluginInfo-License=GPL
